<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>101</integer>
	<key>msg</key>
	<string>获取成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>name</key>
			<integer>1</integer>
			<key>img</key>
			<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130104_57311.png</string>
			<key>small_img</key>
			<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130111_74911.png</string>
			<key>big_img</key>
			<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130127_20831.png</string>
			<key>sp_id</key>
			<integer>58</integer>
			<key>vip</key>
			<integer>2</integer>
			<key>img_id</key>
			<integer>3925</integer>
			<key>person_img</key>
			<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130123_7061.png</string>
			<key>p_img</key>
			<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130148_22491.png</string>
			<key>data</key>
			<array>
				<dict>
					<key>name</key>
					<integer>1</integer>
					<key>img</key>
					<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130104_57311.png</string>
					<key>small_img</key>
					<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130111_74911.png</string>
					<key>big_img</key>
					<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130127_20831.png</string>
					<key>sp_id</key>
					<integer>58</integer>
					<key>vip</key>
					<integer>2</integer>
					<key>img_id</key>
					<integer>3925</integer>
					<key>person_img</key>
					<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130123_7061.png</string>
					<key>p_img</key>
					<string>http://app.faxingwu.com/fxwhoutai/202111/02/20211102130148_22491.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
